#searchResultsDropdown { 

    position: absolute; 

    z-index: 9; 

    background-color: white; 

    list-style-type: none; 

    padding: 0; 

    margin: 0; 

    width: 100%; 

    box-sizing: border-box; 

} 

  

#searchResultsDropdown li { 

    padding: 10px; 

    cursor: pointer; 

    border-bottom: 1px solid #eee; 
	
	z-index: 9;

} 

  

#searchResultsDropdown li:hover { 

    background-color: var(--teal-50);
	
	z-index: 9;

} 

  

#searchResultsDropdown li div.title { 

    color: var(--aqua-500);
	
	font-weight: 600;
	
    font-size: 1em; 
	
	z-index: 9;

} 

  

#searchResultsDropdown li div.preview { 

    color: var(--navy-500);

    font-size: 0.8em; 
	
	z-index: 9;

}